<div><h3>{{titleProduct}}</h3></div>
<div class="card-columns ">
  <div *ngIf="selectedProducts">
    <div *ngFor="let p of selectedProducts._embedded.products | paginate: { itemsPerPage: 6, currentPage: p }">
      <div class="card">
        <div class="card-header">{{p.name}}</div>
        <div class="card-body">
          <div>
            <img class="btn clickable img-thumbnail" (click)="onProductDetails(p)" src="{{this.catService.host+'/photoProduct/'+p.id+'?ts='+getTS()}}" height="100" alt="">
          </div>
          <div *ngIf="authService.isAdmin()">
            <p>
              <button class="btn btn-danger btn-sm fa fa-edit" (click)="onEditPhoto(p)"></button>
            </p>
            <p *ngIf="editPhoto==true && currentProduct==p">
              <button class="btn btn-sm btn-info rounded" style="height: 35px"><input type="file"
                                                                                      (change)="onSelectedFile($event)"
                                                                                      style="width: 55px; height: 30px">
              </button>
              <button *ngIf="uploadButtonVisible()" class="btn btn-success btn-sm fa fa-check"
                      (click)="onUploadPhoto()"></button>
              {{progress}}
            </p>
          </div>
          {{p.currentPrice}} <span class="fa fa-euro" href=""></span>
          <div>
            <img *ngIf="p.promotion" src="assets/images/promo.png" style="height: 30px" class="img-thumbnail rounded-circle">
            <img *ngIf="p.selected" src="assets/images/favorite.png" style="height: 30px" class="img-thumbnail rounded-circle">
            <img *ngIf="p.available" src="assets/images/available.png" style="height: 30px" class="img-thumbnail rounded-circle">
          </div>
          <p></p>
          <div>
            <form #f="ngForm" (ngSubmit)="onAddProductToCaddy(p)">
              <div class="form-group">
                <label for="Quantity"></label>
                <input type="number" min="1" max="10" name="quantity" ngModel style="width: 35px" [(ngModel)]="p.quantity">
                <button class="border border-info rounded">
                  <img src="assets/images/caddy.png" style="height: 20px" class="img-thumbnail">
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<pagination-controls (pageChange)="p = $event"></pagination-controls>




