<div><h3>{{this.catService.title}}</h3></div>
<div class="card-columns">
  <div class="card heightCard" *ngFor="let p of products?._embedded.products | paginate: { itemsPerPage: 6, currentPage: p }">
    <div class="card-header">{{p.name}}</div>
    <div class="card-body">
        <img class="img-thumbnail rounded btn" (click)="onProductDetails(p)" [src]="this.catService.host+'/photoProduct/'+p.id+'?ts='+getTs()"
                height="100">
        <div *ngIf="isAdmin()">
          <p class="btn btn-sm btn-warning fa fa-edit" (click)="onEditPhoto(p)"></p>
          <p *ngIf="currentProduct==p && photoToEdit==true">
            <button class="btn btn-sm btn-info rounded">
              <input  type="file" (change)="onChargePhotoSelectedToUpload($event)" ngModel style="width: 55px">
            </button>
            <button *ngIf="buttonUploadVisible()" class="btn btn-sm btn-success fa fa-check"
                    (click)="onUploadPhotoSelected()"></button>
            {{progress}}
          </p>
        </div>
        <div>Prix : {{p.currentPrice}}</div>
      <div>
        <span *ngIf="p.promotion">
          <img src="assets/images/promo.png" class="img-thumbnail rounded-circle " style="height :30px">
        </span>
        <span *ngIf="p.selected">
          <img src="assets/images/favorite.png" class="img-thumbnail rounded-circle " style="height :30px">
        </span>
        <span *ngIf="p.available">
          <img src="assets/images/available.png" class="img-thumbnail rounded-circle " style="height :30px">
        </span>
      </div>
    </div>
    <div>
      <form #f="ngForm" (ngSubmit)="onAddProductsToCaddy(p)">
        <div class="form-group">
          <label> Qauntité : </label>
          <input type="number" name="quantity" [(ngModel)]="p.quantity" style="width:30px; height: 20px">
          <button class="border border-success rounded">
            <img src="assets/images/caddy.png" class="img-thumbnail" style="height :20px">
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
